[package]
name = "dcs-grpc-stubs"
version = "0.1.0"
authors = ["Markus Ast <m@rkusa.st>"]
license = "AGPL-3.0-or-later"
edition = "2021"
rust-version = "1.56"

[dependencies]
prost = "0.10"
prost-types = "0.10"
serde = { version = "1.0", features = ["derive"] }
tonic = "0.7"

[build-dependencies]
# TODO: once upgraded, check whether the `derive_partial_eq_without_eq` lint can be re-enabled.
tonic-build = "0.7"
protoc-bundled = { git = "https://github.com/rkusa/protoc-bundled.git", rev = "3.21.6" }

[dev-dependencies]
serde_json = "1.0"

[features]
default = []
server = []
client = []
